.gris{
    background-color: gray;
    width: 100%;
    height: 6rem;
    padding: 1rem 0 0 3rem;
}

.paco{
    background-color: darkgray;
    width: 100%;
    height: 6rem;
    padding: 1rem 0 0 3rem;
}

.caja-padre{
    width: 100%;
    height: auto;

    /*Alineacion de items*/
    display: flex;
    flex-direction: row;
}


.menu{
    width: 60%;
    height: 40rem;
    background-color:gray;
}

.sección{
    width: 40%;
    height: 40rem;
    background-color: gainsboro;
    align-items:center;


    /*Alineacion de items*/
    display: flex;
    flex-direction:row;
}

.grismmm-1, .grism-2, .grismm-3,.gris-4,.gris-5,.gris-6{
    width: 15%;
    height: 10rem;
    background-color:gray;
    margin: 1rem;

    /*Alineación de items*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.morado{
    width: 100%;
    height: 6rem;
    background-color:black;